body {
    background-color: rgb(29, 29, 29);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slider-for {
    padding-bottom: 20px;
    height: 70%;
    width: 65%;
}

.slider-text {
    line-height: 1.9em;
    height: 70%;
    width: 35%;
}

.slider-for div {
    text-align: center;
    padding: 5px 10px;
}

.slider-nav {
    height: 30%;
    width: 90%;
    margin: 0 auto;
}

.slider-nav .slick-slide {
    height: 95%;
}

.slider-nav p {
    text-align: center;
    margin: 20px 10px;
    padding: 10px 0;
    height: 100%;
}

.slider-for img,
video {
    display: inline-block;
    vertical-align: middle;
}

.slider-nav img {
    display: inline-block;
    vertical-align: middle;
}

.main-container {
    display: flex;
}

.tweet {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 20pt;
    margin: 10px;
}

.slick-slide > p > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slick-prev:before,
.slick-next:before {
    font-size: 60px;
}

.slick-prev {
    left: -70px;
}


.fullscreeen-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.reload-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 65px;
}