body {
    background-color: rgb(29, 29, 29);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slider-for {
    height: 70%;
    width: 45%;
}

.slider-text {
    line-height: 3.2em;
    height: 70%;
}

.slider-for div {
    text-align: center;
}

.slider-nav {
    height: 30%;
    width: 90%;
    margin: 0 80px;
}

.slider-nav .slick-slide {
    height: 95%;
}

.slider-nav p {
    text-align: center;
    margin: 20px 10px;
    padding: 10px 0;
    height: 100%;
}

.slider-for img, video {
    display: inline-block;
    vertical-align: middle;
}

.slider-nav img {
    display: inline-block;
    vertical-align: middle;
}

.main-container {
    display: flex;
}

.tweet {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 32pt;
    padding: 5px;
    margin: 20px;
}

.slick-slide>p>img {
    width: auto;
    height: auto;
    max-width: 10vw;
    max-height: 60%;
}

.main {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slick-prev:before, .slick-next:before {
    font-size: 60px;
}

.slick-prev {
    left: -70px;
}

.fullscreeen-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.reload-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 65px;
    left: 10px;
}

.pp-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 120px;
    left: 10px;
}

.setting-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 175px;
    left: 10px;
}

@keyframes sp-anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.right-container {
    width: 50%;
}

#modal {
    display: none;
}

.setting-img {
    max-width: 10vw;
    max-height: 10vw;
}